<% include ../../../app/views/head %>
<h1>Story Time</h1>
<div id="app"></div>

<script src="/scripts/CodeDisplay.jsx" type="text/jsx"></script>
<script src="/scripts/WorkerIDForm.jsx" type="text/jsx"></script>
<script src="/scripts/Ethics.jsx" type="text/jsx"></script>
<script src="scripts/EthicsAndID.jsx" type="text/jsx"></script>
<% include ../../../app/views/tail %>

