<% include ../../../app/views/head %>
<div id="app"></div>

<script src="scripts/Questions.jsx" type="text/jsx"></script>
<script src="scripts/FullScreenButton.jsx" type="text/jsx"></script>
<script src="scripts/PointingTaskComponent.jsx" type="text/jsx"></script>
<% include ../../../app/views/tail %>

